body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#title {
    font-size: 80px;
    color: rgb(85, 146, 25);
    font-weight: 900;
}
.li {
    font-size: 30px;
    color: rgb(37, 111, 175);
    font-style: oblique;
}
.heading {
    font-size: medium;
    color: rgb(15, 97, 70);
    font-weight: 600;
}
.heading.ingredients {
    font-style: oblique;
}
.heading.directions {
    background-color: chartreuse;
}
.list {
    font-size: 60px;
}
.list.ingredients {
    color: rgb(187, 119, 36);
    font-weight: 800;
}
.list.directions {
    background-color: rgb(117, 117, 178);
}
