body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(242, 211, 198);
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    
  
}
#title {
    color: rgb(230, 75, 23);
    font-weight: bolder;
    font-size: 85px;
    padding: 60px;
    text-align: center;
    border: 20px solid black;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-top: 50px;

  
}
.p {
    border: solid rgba(223, 173, 35, 0.83);
    text-align: center;
    margin-left: 95px;
    margin-right: 95px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(94, 31, 8);
}

.p.creamy {
    margin-top: 50px;
}
.p.hot {
    margin-top: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}



.h {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    border: 10px solid black;
    padding: 60px;
    text-align: center;
    margin-left: 95px;
    margin-right: 95px;
   
}

.h.ingredients {
    margin-top: 50px;
}

.h.directions {
    margin-top: 80px;
}

.list {
    color: brown;
    font-size: 20px;
    margin-left: 95px;
    
}

.list.directions {
    margin-bottom: 80px;
}

